<p id="notice"><%= notice %></p>
<h1><%= @user.name %></h1>
<h3><%= @user.email %></h3>
<h4>Addresses</h4>
<table>
  <thead>
    <tr>
      <th>Street</th>
      <th>Zip code</th>
      <th>City</th>
      <th>State</th>
      <th>Country</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @user.addresses.each do |address| %>
      <tr>
        <td><%= address.street %></td>
        <td><%= address.zip_code %></td>
        <td><%= address.city %></td>
        <td><%= address.state %></td>
        <td><%= address.country %></td>
        <td><%= show_link address %></td>
        <td><%= edit_link address %></td>
        <td><%= destroy_link address %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= show_link User, 'Index' %>
<br>
<%= edit_link @user %>
<br>
<%= destroy_link @user %>
