<p>
  <strong>Street:</strong>
  <%= @address.street %>
</p>

<p>
  <strong>Zip code:</strong>
  <%= @address.zip_code %>
</p>

<p>
  <strong>City:</strong>
  <%= @address.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @address.state %>
</p>

<p>
  <strong>Country:</strong>
  <%= @address.country %>
</p>

<p>
  <strong>User:</strong>
  <%= show_link Address, @address.user_name %>
</p>

<%= show_link Address, 'Index' %>
<br>
<%= edit_link @address %>
<br>
<%= destroy_link @address %>
