<!DOCTYPE html>
<html>
  <head>
    <title>LuunaTest</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <p id="notice"><%= notice %></p>
    <%= login_helper %>
    <br>
    <%= links_helper %>
    <%= yield %>
  </body>
</html>
